<!DOCTYPE html>
<!-- saved from url=(0053)https://getbootstrap.com/docs/5.2/examples/sidebars/# -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Inventory</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">


    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/sidebars.css" rel="stylesheet">

    <link href="fontawesome6/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/apple-touch-icon.png"
        sizes="180x180">
    <link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32"
        type="image/png">
    <link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16"
        type="image/png">
    <link rel="manifest" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/safari-pinned-tab.svg"
        color="#712cf9">
    <link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon.ico">


    <meta name="theme-color" content="#712cf9">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: calc(100% - 100px);
            overflow-y: scroll !important
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: scroll !important;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;

        }

        /* Position and style the close
        button at top right corner */
        .sidebar .closebtn {
            position: relative;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }





        /* On smaller screens, where height is
        less than 450px, change the style of
        the side-nav (less padding and a
        smaller font size) */
        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }

        body {
            margin: 0;
            /*use this to ensure left most content goes all the way to border of page */
        }

        .col-25 {
            float: left;
            width: 20%;
            margin-top: 15px;
        }

        .col-75 {
            float: left;
            width: 80%;
            margin-top: 6px;
        }
        .col-35 {
            float: left;
            width: 35%;
            margin-top: 15px;
        }

        .col-65 {
            float: left;
            width: 65%;
            margin-top: 6px;
        }
        input[type=radio] {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
           
        }
        input[type=integer] {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
           
        }
        input[type=date] {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
           
        }
        input[type=text] {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
            resize: vertical;
        }
        input[type=email] {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
            resize: vertical;
        }
        input[type=number] {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
            resize: vertical;
        }
        select {
            font-family: arial, sans-serif;
            width: 95%;
            padding: 9px;
            border: 1px solid #ccc;
            border-radius: 3px;
            resize: vertical;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>



</head>

<body>